
 body{background: #333;}
        img {max-width:300px;display:block;position:relative;top:200px; left:200px;}
        img:nth-child(1) {top:0px; left:200px;}
        img:nth-child(2) {top:200px; left:400px;}
        img:nth-child(3) {top:200px; left:100px;}
        img:nth-child(4) {top:400px; left:600px;}
        img:nth-child(5) {top:500px; left:150px;}
        img:nth-child(6) {top:600px; left:400px;}
        img:nth-child(7) {top:800px; left:100px;}
        img:nth-child(8) {top:800px; left:600px;}
        img:nth-child(9) {top:1000px; left:300px;}
        
        body{padding-bottom: 400px}
    